/* Reset */
html, body {
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

body {
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav > ul {
    list-style-type: none;
    position: relative;
}

/* Layout */

header > h1 {
    float: left;
}

header > nav {
    float: right;
}

.nav-item {
    display: inline-block;
}

.hero {
    clear: both;
    text-align: center;
}
.wrapper {
    display: flex;
}
.left, .right {
    display: flex;
    flex-direction: column;
}
footer {
    clear: both;
}

footer p {
    float: left;
}
.footer-nav {
    float: right;
}

.footer-nav >ul>li {
    display: inline-block;
}